doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Insta-Ava
		link(rel='stylesheet', href='/main.css')
		script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(type='text/javascript' src='/main.js')

	body
		block content
		